{% extends 'CrisisTextLineUserProfileBundle::adminBase.html.twig' %}

{% block userprofiles %}
    <h1>User Profile Fields, by Section</h1>

    <table class="records_list user-profile-section-list">
        {% set totalCols = 7 %}
        {% set insetCols = 2 %}
        <thead>
            <tr>
                <th width="1"></th>
                <th>Section</th>
                <th>Display Name</th>
                <th>Description</th>
                <th>Accesslevel</th>
                <th>Enabled</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr style="background: #DDD;" {% if not entity.enabled %}class="disabled"{% endif %}>
                <td>
                    <a href="{{ path('user_profile_section_up', { 'id': entity.id }) }}" class="no-underline">&#9650;</a><a href="{{ path('user_profile_section_down', { 'id': entity.id }) }}" class="no-underline">&#9660;</a>
                </td>
                <td><strong><a href="{{ path('user_profile_section_show', { 'id': entity.id }) }}">{{ entity.name }}</a></strong></td>
                <td><strong>{{ entity.displayName }}</strong></td>
                <td><strong>{{ entity.description }}</strong></td>
                <td><strong>{% if entity.accessLevel is not null %}{{ role_names[entity.accessLevel] }}{% endif %}</strong></td>
                <td><strong>{% if entity.enabled %}Yes{% else %}No{% endif %}</strong></td>
                <td><strong>
                <ul>
                    <li>
                        <a href="{{ path('user_profile_section_show', { 'id': entity.id }) }}">View</a>
                    </li>
                    <li>
                        <a href="{{ path('user_profile_section_edit', { 'id': entity.id }) }}">Edit</a>
                    </li>
                </ul>
                </strong></td>
            </tr>
            <tr>
                <td colspan="{{ insetCols }}"></td>
                <td colspan="{{ totalCols - insetCols }}" style="padding:0;">
                    {# // TC - fix this in CSS ^ #}
                    {% include 'CrisisTextLineUserProfileBundle:includes:userProfileFieldList.html.twig' with {
                        entities: entity.fields,
                        fieldSortReturn: 'all',
                        section: entity.id,
                        role_names: role_names
                    } %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('user_profile_section_new') }}">
                Create a new Section
            </a>
        </li>
    </ul>
    {% endblock %}
