{% extends 'CrisisTextLineUserProfileBundle::base.html.twig' %}

{% block userprofiles %}
    <h1>UserProfileField</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Default Value</th>
                <td>{{ entity.defaultValue }}</td>
            </tr>
            <tr>
                <th>Section</th>
                <td><a href="{{ path('user_profile_section_show', { 'id': entity.section.id }) }}">{{ entity.section }}</a></td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ entity.humanReadableType }}</td>
            </tr>
            <tr>
                <th>Readaccess</th>
                <td>{% if entity.writeAccess is not null %}{{ role_names[entity.readAccess] }}{% endif %}</td>
            </tr>
            <tr>
                <th>Writeaccess</th>
                <td>{% if entity.writeAccess is not null %}{{ role_names[entity.writeAccess] }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('user_profile_field') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('user_profile_field_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
