{% extends 'CrisisTextLineUserProfileBundle::base.html.twig' %}

{% block userprofiles %}
    <h1>User Profile</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ entity.user.username }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.user.email }}</td>
            </tr>
            <tr>
                <th>User Id</th>
                <td>{{ entity.user.id }}</td>
            </tr>
            {% for value in entity.values %}
                <tr>
                    <th>{{ value.userProfileField.name }}</th>
                    <td>{{ value.value }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('user_profile_edit', { 'id': entity.user.id }) }}">
            Edit
        </a>
    </li>
</ul>
{% endblock %}
