<table class="user-profile-field-list">
    <thead>
        {% set length = entities|length %}
        {% if length %}
        <tr>
            {# // TC - fix this formatting in CSS! #}
            {% if length > 1 %}
            <th style="background-color: #DDD;" width="1"></th>
            {% endif %}
            <th style="background-color: #DDD;">Field</th>
            <th style="background-color: #DDD;">Default</th>
            <th style="background-color: #DDD;">Type</th>
            <th style="background-color: #DDD;">View</th>
            <th style="background-color: #DDD;">Edit</th>
            <th style="background-color: #DDD;">Actions</th>
        </tr>
    {% endif %}
    </thead>
    <tbody>
        {% for entity in entities %}
            <tr>
                {% if length > 1 %}
                <td><a href="{{ path('user_profile_field_up', {'id': entity.id , section: fieldSortReturn}) }}" class="no-underline">&#9650;</a><a href="{{ path('user_profile_field_down', {'id': entity.id , section: fieldSortReturn}) }}" class="no-underline">&#9660;</a></td>
                {% endif %}
                <td><a href="{{ path('user_profile_field_show', {'id': entity.id}) }}">{{ entity.name }}</td>
                <td>{{ entity.defaultValue }}</td>
                <td>{{ entity.humanReadableType }}</td>
                <td>{% if entity.readAccess is not null %}{{ role_names[entity.readAccess] }}{% endif %}</td>
                <td>{% if entity.writeAccess is not null %}{{ role_names[entity.writeAccess] }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('user_profile_field_show', { 'id': entity.id }) }}">View</a>
                        </li>
                        <li>
                            <a href="{{ path('user_profile_field_edit', { 'id': entity.id }) }}">Edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="{{ 7 - (length > 1) }}">
                <a href="{{ path('user_profile_field_new', {'section': section}) }}">Add a field</a>
            </td>
        </tr>
    </tbody>
</table>
